/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/.idea
/.vscode

# vite / asset build
/public/build
/public/*.hot
/public/storage
/storage/*.key
/storage/vite.hot

# ignore all files and folder inside storage except templates
!/storage/app/public/templates/
/storage/app/public/profile/*
/storage/app/contents/*
/storage/app/temp/*

# js result from build (pnpm build)
/public/assets/pages

# this part is created from symlink (php artisan storage:link)
/public/storage

# Caddyfile for frankenphp static build
Caddyfile
